<% provide(:title, "About") %>

<h1>About</h1>
<p>
  The <a href="http://www.railstutorial.org/"><em>Ruby on Rails 
  Tutorial</em></a> is a 
  <a href="http://www.railstutorial.org/book">book</a> and
  <a href="http://www.screencasts.railstutorial.org/">screencasts series</a>
  to teach web development with <a href="http://rubyonrails.org"></a>
  This is the sample application for the tutorial.
</p>
