<% provide(:title, "Help") %>
 
<h1>Help</h1>
<p>
  Get help on the Ruby On Rails Tutorial at the <a href="http://www.railsutorial.org/#help">Rails Tutorial help section</a>.
  To get help on the sample app, see the
  <a href="http://www.railsutorial.org/book"><em>Ruby on Rails Tutorial</em>
  book</a>
</p>
  